.collection{ :id => "collection_#{collection.id}" }
  .handle
    .handle_image
  .image{ :style => "background-color:#333;" }
    - if p = collection.poster_path(public_only?)
      %a{ :href => collection_path( collection )  }
        %img{:src=>p,:alt => "sample image from collection"}
  .details
    %h5.title
      = link_to collection.title, collection_path( collection )
      - if owner = owner_text( collection ) and owner != "my"
        %span
          Created by
          %strong
            = owner

    - if current_user and current_user.has_role?(  [ :admin, :cataloger ] )
      .featured
        - form_for collection, :html => { :id => nil } do |form|
          = form.check_box :featured, :id => gen_id
          - if !collection.featured?
            %label.is_featured
              Feature this collection
          - else
            %label.is_featured
              Featured
              = feature_rank( collection )
    - else
      - if collection.featured?
        %label.is_featured>FEATURED

    %p
      %strong
        Videos:
      = collection.size(public_only?)
      %br
      %strong
        Views:
      = collection.views
      %br
      %strong
        Added:
      = collection.created_at.to_date.to_s(:long)
      %br
      %strong
        Last Updated:
      = collection.updated_at.to_date.to_s(:long)
    %p
      = collection.description
    %p
      %strong
        = link_to "View " + container_text( collection ) + " ", |
          collection_path( collection ) |
      \|
      %strong
        = link_to "Subscribe", collection_path( collection, :format => "atom" )
