.collection

  .image
    - if p = collection.poster_path(public_only?)
      %img{:src=>p,:alt => "sample image from collection"}
  .details
    - if owner = owner_text( collection ) and owner != "my"
      .owned_by
        Created by
        .owner
          = owner
    .title= collection.title
    - if current_user and current_user.has_role?(  [ :admin, :cataloger ] )
      .featured
        - form_for collection, :html => { :id => nil } do |form|
          %label
            = form.check_box :featured
            - if !collection.featured?
              Feature this collection
            - else
              This collection featured on
              = collection.featured_on.to_time.localtime.strftime("%B %d, %Y at %I:%M %p")
              = feature_rank( collection )
    - else
      - if collection.featured?
        .featured
          .notice
            A featured collection!

    .attribute.size
      .separator &bull;
      .legend= collection.size(public_only?)
      .value Videos
    .br.size
    .attribute.views
      .separator &bull;
      .legend= collection.views
      .value Views
    .br.views
    .attribute.created_on
      .separator &bull;
      .legend Added:
      .value= collection.created_at.to_date.to_s(:long)
    .br.created_on
    .attribute.updated_on
      .separator &bull;
      .legend Last Updated:
      .value= collection.updated_at.to_date.to_s(:long)
    .br.updated_on
    .description= collection.description
    .menu
      %div
        = link_to "View " + container_text( collection ) + " videos", |
          collection_path( collection ) |
      &diams;
      %div= link_to "Subscribe to " + container_text( collection ), |
                    collection_path( collection, :format => "atom" ) |
  .clear
