.collection

  .image
    - if p = collection.poster_path
      %img{:src=>collection.poster_path,:alt => "sample image from collection"}
  .details
    - if owner = owner_text( collection ) and owner != "my"
      .owned_by
        Created by
        .owner
          = owner
    .title= collection.title
    .attribute.size
      .separator &bull;
      .legend= collection.size
      .value Videos
    .br.size
    .attribute.views
      .separator &bull;
      .legend= collection.views
      .value Views
    .br.views
    .attribute.created_on
      .separator &bull;
      .legend Added:
      .value= collection.created_at.to_date.to_s(:long)
    .br.created_on
    .attribute.updated_on
      .separator &bull;
      .legend Last Updated:
      .value= collection.updated_at.to_date.to_s(:long)
    .br.updated_on
    .description= collection.description
    .menu
      %div
        = link_to "View " + container_text( collection ) + " videos", |
          collection_path( collection ) |
      &diams;
      %div= link_to "Subscribe to " + container_text( collection ), |
                    collection_path( collection, :format => "atom" ) |
  .clear
