- subtitle ||= nil
- collections = index
.collections.index.partial

  .title
    - if WillPaginate::ViewHelpers.total_pages_for_collection( collections ) > 1
      .show_all
        = link_to "show all", |
          url_for( :controller => request.path_parameters['controller'], |
                   :action => request.path_parameters['action'], |
                   :page => "all" ) |
    = title
  .contents

    - if subtitle
      .pagination_info= subtitle
    - else
      %div &nbsp;

    = render :partial => "collections/collection", :collection => collections

    .pagination
      = will_paginate collections
