- bookmark = video
- video = bookmark.video
.video
  .image
    %a{:href => video_path( video.id )}
      %img{:src=>video.poster_path,:alt => "video #{video.id}"}
  .video_details
    .title=h video.title
    - if !(date = video_created(video)).blank?
      .year= "(#{h date.year})"
    - if current_user
      - form_for bookmark do |f|
        .sentence
          = f.text_field :annotation, :size => 44, :id => "bookmark_#{bookmark.id}"
          = f.submit "Save", :id => nil
    - else
      .sentence=h video.sentence
    .menu
      = link_to "View video details", video_path( video )
      &nbsp;&bull;&nbsp;
      - if current_user
        .actions
          .action
            = render :partial => "videos/alter_favorites", :object => video
          .action
            = render :partial => "videos/alter_playlist", :object => video
        &nbsp;&bull;&nbsp;
      = link_to "Download", download_video_path( video )
  .video_descriptors
    - browse_descriptors_and_types( video ).each do |dt|
      .descriptor 
        .type= "#{dt[0].name}:"
        .values
          - dt[1].each do |d|
            .value= d.value.text
      .clear
    .descriptor 
      .type Duration:
      .values
        .value= int_to_duration(video.duration)
    .clear
    .descriptor 
      .type Views:
      .values
        .value= video.views
    .clear

  .clear
