- collection ||= @collection
.collection.page
  - form_for @collection do |f|
    .image
      - if p = collection.poster_path(public_only?)
        %img{:src=>p,:alt => "sample image from collection"}
    .details
      .title
        .label
          Title:
          - if current_user and !current_user.special_collection?( collection )
            = f.text_field :title, :size => 50
          - else
            = collection.title
      .description
        .label
          Description:
          %div= f.text_area :description, :size => "50x4"

      .clear
      .public
        .label
          Privacy:
          Public:
          = f.radio_button :public, "true"
          Private:
          = f.radio_button :public, "false"

      %div &nbsp;
      .clear

      = submit_tag @collection.new_record? ? "Create" : "Save" 

    .menu
      .attribute
        .legend Created on:
        .right.value= ca = collection.created_at and ca.to_date.to_s(:medium)
      .attribute
        .legend Last updated:
        .right.value= ua = collection.updated_at and ua.to_date.to_s(:medium)
      .attribute
        .legend Videos:
        .value= collection.size(public_only?)
      .attribute
        .legend Views:
        .value= collection.views

    .clear

= render :partial => "collections/videos", :object => @collection.send(videos_method)
