- verb = @collection.new_record? ? "Create New" : "Edit"
- collection ||= @collection
.account-page
  .head
    %span.left
      = verb
      Playlist
  .body
    .col-main.left
      - if verb == "Edit"
        .playlist
          .image{ :style => "background-color:#333;" }
            - if p = collection.poster_path(public_only?)
              %a{ :href => collection_path( collection )  }
                %img{:src=>p,:alt => "sample image from collection"}
          .details
            - if owner = owner_text( collection ) and owner != "my"
              %span
                Created by
                %strong
                  = owner
            %p
              %strong
                Videos:
              = collection.size(public_only?)
              %br
              %strong
                Views:
              = collection.views
              %br
              %strong
                Added:
              = collection.created_at.to_date.to_s(:long)
              %br
              %strong
                Last Updated:
              = collection.updated_at.to_date.to_s(:long)


      - form_for @collection, :html => { :class => "playlist create new_collection" } do |f|
        %p
          %label
            Playlist Name
          - if current_user and !current_user.special_collection?( collection)
            = f.text_field :title, :size => 50, :class => "input"
          - else
            = collection.title
        %p
          %label
            Playlist Description
          = f.text_area :description, :rows => "5", :class => "input"
        %p
          %label
            Privacy
          = f.radio_button :public, "true", :id => "privacy_0"
          Public &nbsp;&nbsp;&nbsp;
          = f.radio_button :public, "false", :id => "privacy_1"
          Private
        %p
          -if @collection.new_record?
            = image_submit_tag("btn-create-playlist.gif", :class=>"submit")
          - else
            = image_submit_tag("btn-save-changes.gif", :class=>"submit")
          %span.btn-cancel
            = link_to "Cancel", my_path




