.collections.show
  .collections.content
    = render :partial => "collections/show", :object => @collection, |
             :locals => { :videos => @videos } |
  .collections.sidebar
    .entry
      .title
        Other
        = containers_text( @collection )
      %ul
        %li
          Browse all
          = containers_text( @collection )
        - if owner = owner_text( @collection )
          %li
            All
            = owner
            = containers_text( @collection )
        %li
          Related
          = containers_text( @collection )
