- collection = @collection
.collection.page
  .image
    - if p = collection.poster_path
      %img{:src=>collection.poster_path,:alt => "sample image from collection"}
  .details
    .title
      - if current_user and current_user.id == collection.user_id
        .right
          = link_to "edit", edit_collection_path( collection )
        .clear
        .right
          = link_to "delete", collection_path( collection ), |
               :method => :delete, |
               :confirm => "are you sure you want to delete this collection?" |
      = h collection.title
    .description= h collection.description
    - if current_user and current_user.id == collection.user_id
      .clear
      .public
        This playlist is 
        = collection.public? ? "public." : "private."

  .menu
    .attribute
      .legend Created on:
      .right.value= collection.created_at.to_date.to_s(:medium)
    .attribute
      .legend Last updated:
      .right.value= collection.updated_at.to_date.to_s(:medium)
    .attribute
      .legend Videos:
      .value= collection.size
    .attribute
      .legend Views:
      .value= collection.views
  .clear

= render :partial => "collections/videos", :object => @collection.videos
