.collections.show
  .collections.content
    = render :partial => "collections/show", :object => @collection, |
             :locals => { :videos => @videos } |
  .collections.sidebar
    .entry
      %ul
        %li
          = link_to "Browse all #{containers_text( @collection )}", |
            "/collections/#{containers_text( @collection )}" |
        /
          - if owner = owner_text( @collection )
            %li
              All
              = owner
              = containers_text( @collection )
        /
          %li
            Related
            = containers_text( @collection )
