.one-column
  /head start
  .head
    %span.left
      Log In
  /head end
  .body
    - form_tag sessions_path do
      %p
        %label{ :for => "login" }
          Login
        = text_field_tag 'login', @login
      %p
        %label{ :for => "password" }
          Password
        = password_field_tag 'password', nil
        = link_to 'Forgot Password?', forgot_password_path
      /
        Uncomment this if you want this functionality
        <p><label for="remember_me">Remember me:</label>
        <%= check_box_tag 'remember_me', '1', @remember_me %></p>
      %p
        = submit_tag 'Log in'
      %p
        %br
        = link_to 'New user?', signup_path

