- if flash[:error]
  .flash.error
    %span
      = flash[:error]
- if flash[:notice]
  .flash.notice
    %span
      = flash[:notice]
.one-column
  /head start
  .head
    %span.left
      Log In
  /head end
  .body
    - form_tag sessions_path, :class => 'loginform' do
      %label
        Username
      = text_field_tag 'login', @login
      %label
        Password
      = password_field_tag 'password', nil
      = link_to 'Forgot your password?', forgot_password_path
      /
        Uncomment this if you want this functionality
        %label{ :for => "remember_me" }
          Remember me
          = check_box_tag 'remember_me', '1', @remember_me
      %br
      = image_submit_tag("btn-login.gif")
      = link_to 'New user?', signup_path
