.one-column
  /head start
  .head
    %span.left
      Forgot Password
  /head end
  .body
    - if flash[:notice] or flash[:error]
      %br
      .flash
        %div= flash[:notice]
        %div= flash[:error]
      %br
    - if @user
      - form_tag reset_password_path( @user.password_reset_code ), :method => :post do
        %div
          %div 
            %label{:for=>:password}
              New Password
            %div= password_field_tag 'password', nil, :class => "text"

          %br
          %div 
            %label{:for=>:password_confirmation}Confirm Password
            %div= password_field_tag 'password_confirmation', nil, :class => "text"

        %br
        = image_submit_tag "btn-send-new-password.gif", :name => "Reset Password"
