%div

  .form

    .column

      %fieldset
        %legend Title Information
        .label= @form.label :title, "Title of Video"
        %div= @form.text_field :title, :size => 50

      %fieldset
        %legend Content Summary

        .label= @form.label :sentence, "Sentence Summary"
        %div= @form.text_area :sentence, :cols => 38, :rows => 2

        .label= @form.label :abstract
        %div= @form.text_area :abstract, :cols => 38, :rows => 6


    .column

      %fieldset
        %legend Description

        .label= @form.label :duration
        %div{ error_class( @video, :duration ) }
          = text_field_tag :video_duration, |
                           (( params[:video] and params[:video][:duration] ) |
                           or |
                           int_to_duration( @video.duration )), |
                           :name => "video[duration]", :size => 20 |
          Format: HH:MM:SS
          = error_message_on @video, :duration

      %fieldset
        %legend Local Reference

        .label= @form.label :local_id
        %div= @form.text_field :local_id

        .label= @form.label :donor
        %div= @form.text_area :donor, :cols => 38, :rows => 2

    .full_width

      %fieldset
        %legend Rights

        .label= @form.label :rights_holder, "Rights Holder"
        %div= @form.text_field :rights_holder

        .label= @form.label :rights, "Type of Rights"
        %div
          = @form.collection_select :rights_id, rights_details, :id, :license

    .clear