%div

  .form

    .column

      %fieldset
        %legend Title Information
        .title{ error_class( @video, :title ) }
          .label= @form.label :title, "Title of Video"
          %div= @form.text_field :title, :size => 50
          = error_message_on @video, :title

      %fieldset
        %legend Content Summary

        .sentence{ error_class( @video, :sentence ) }
          .label= @form.label :sentence, "Sentence Summary"
          %div= @form.text_area :sentence, :cols => 38, :rows => 2
          = error_message_on @video, :sentence

        .abstract{ error_class( @video, :abstract ) }
          .label= @form.label :abstract
          %div= @form.text_area :abstract, :cols => 38, :rows => 6
          = error_message_on @video, :abstract


    .column

      %fieldset
        %legend Description

        .label= @form.label :duration
        %div{ error_class( @video, :duration ) }
          = text_field_tag :video_duration, |
                           (( params[:video] and params[:video][:duration] ) |
                           or |
                           int_to_duration( @video.duration )), |
                           :name => "video[duration]", :size => 20 |
          Format: HH:MM:SS
          = error_message_on @video, :duration

      %fieldset
        %legend Local Reference

        .local{ error_class( @video, :local ) }
          .label= @form.label :local_id
          %div= @form.text_field :local_id

        .donor{ error_class( @video, :donor ) }
          .label= @form.label :donor
          %div= @form.text_area :donor, :cols => 38, :rows => 2

    .full_width

      %fieldset
        %legend Rights

        .rights_holder{ error_class( @video, :rights_holder ) }
          .label= @form.label :rights_holder, "Rights Holder"
          %div= @form.text_field :rights_holder

          .rights_type{ error_class( @video, :rights_type ) }
          .label= @form.label :rights_id, "Type of Rights"
          - p @form.class
          %div= @form.collection_select :rights_id, rights_details, :id, :license

    .clear