- videos = index
.videos.list.partial


  - if videos.size > 0
    .navigate
      .pagination_info
        = page_entries_info videos
      - [ :bg_thumbs, |
          :text_only, |
          :sm_thumbs, |
          :sm_thumbs_only ].reverse.each do |format| |
        .button{:class => "#{format} pointer"}
          = image_tag "results_#{format}.gif"
      .clear
      
    .list        
      - if params[:search].nil? || params[:search][:criteria].nil? || params[:search][:criteria][:text].nil? 
        = render :partial => "videos/show", :collection => videos
      - else
        = highlight(  |
          (render :partial => "videos/show", :collection => videos), |
          params[:search][:criteria][:text] ) |
    .clear

    .pagination
      = will_paginate videos

