.video
  .image
    %a{:href => video_path( list.id )}
      -if poster_path = list.poster_path
        %img{:src=>poster_path,:alt => "video #{list.id}"}
  .video_details
    .title=h list.title
    - if !list.year.blank?
      .year= "(#{h list.year})"
    .sentence=h list.sentence
    .menu
      = link_to "View video details", video_path( list )
      &nbsp;&bull;&nbsp;
      - if current_user
        .actions
          .action
            = render :partial => "alter_favorites", :object => list
          .action
            = render :partial => "add_to_playlist", :object => list
        &nbsp;&bull;&nbsp;
      = link_to "Download", download_video_path( list )
  .clear
