.video
  .image
  .title=h list.title
  - if !list.year.blank?
    .year= "(#{h list.year})"
  .sentence=h list.sentence
  .menu
    = link_to "View video details", video_path( list )
    &nbsp;&bull;&nbsp;
    = link_to "Add to favorites", user_favorites_path( list )
    &nbsp;&bull;&nbsp;
    = link_to "Download", download_video_path( list )
