%li.delete
  .property-type.display-edit
    .display{ error_class(p_date) }
      %label
        = p_date.name
        \|
        %span.edit= link_to "edit", "#"
      %p
        = p_date.value

    .edit{ error_class(p_date) }
      - fields_for "property[#{type_id(p_date)}]", p_date do |fields|
        %label
          Type:
          = fields.collection_select :property_type_id, |
             property_types_by_class( property_class ), |
             :id, :name, {}, :id => gen_id |
          %span.delete= link_to "delete", "#"
        %label
          Value:
          = fields.text_field :value
      = error_messages_for 'property', :object => p_date
      = hidden_field_tag "property[#{type_id(p_date)}][deleted]", |
                           false, :id => nil, :class => :deleted |
