%li.delete
  .property-type.display-edit
    .display{ error_class(p_string) }
      .type
        = p_string.name
        -if editing?
          %span.edit= link_to "edit", "#"
      .value
        = p_string.value
    -if editing?
      .edit{ error_class(p_string) }
        - fields_for "property[#{type_id(p_string)}]", p_string do |fields|
          .type
            %label
              Type:
              = fields.collection_select :property_type_id, |
                 property_types_by_class( property_class ), |
                 :id, :name, {}, :id => "id_#{rand(32768)}" |
              %span.delete= link_to "delete", "#"
          .value
            %label
              Value:
              = fields.text_field :value, :id => "id_#{rand(32768)}"
          = error_messages_for 'property', :object => p_string
          = hidden_field_tag "property[#{type_id(p_string)}][deleted]", |
                               false, :id => nil, :class => :deleted |
