.content.block
  .videos
    #recent_carousel.jcarousel-skin-tango
      %ul
        -# If you change these numbers, make sure to also update the values in jquery.jcarousel.sass
        - carousel_pages = 4
        - carousel_items_per_page = 5
        - Video.recent(public_only?, carousel_items_per_page * carousel_pages).each do |video|
          %li.video
            .image
              %a{:href => video_path( video.id )}
                - if poster_path = video.poster_path
                  %img{:src=>poster_path,:alt => "video #{video.id}"}
            .clear
            .text
              .title{:class=>video_vis_class(video)}
                = link_to h(video.title), video_path( video.id )
              .description= h video.sentence
      .carousel_pager
        - carousel_pages.times do |n|
          %a{ :href => "#" }
            %div{ :class => "carousel_page_#{n}", :page => n }
  .clear
:javascript
  function recent_carousel_initCallback( recent_carousel ) {
    $("#recent_carousel .carousel_pager div").bind("click", function() { 
      recent_carousel.scroll( $.jcarousel.intval( $(this).attr("page")*#{carousel_items_per_page}+1 ) );
      return false;
    } );
  }
  function recent_carousel_updatePagerCallback( recent_carousel, item, index, action ) {
    $("#recent_carousel .carousel_pager div").removeClass("active");
    page = $.jcarousel.intval( (index - 1) / #{carousel_items_per_page} );
    $("#recent_carousel .carousel_pager .carousel_page_" + page ).addClass("active");
  }
  $("#recent_carousel").jcarousel( 
  {
    visible: #{carousel_items_per_page},
    scroll: #{carousel_items_per_page},
    wrap: "both",
    initCallback: recent_carousel_initCallback,
    itemFirstInCallback:  {
      onBeforeAnimation: null,
      onAfterAnimation: recent_carousel_updatePagerCallback
    }
  });
