- video = show
- bookmark = nil
- id_value = "#{video.class.name.tableize.singularize}_#{video.id}"
- if Bookmark === video
  - bookmark = video
  - video = bookmark.video
-# removed: .video{:id => id_value}
%li
  .image
    %a{:href => video_path( video.id )}
      -if poster_path = video.poster_path
        %img{:src=>poster_path,:alt => "video #{video.id}"}
  .details
    %h5.title{:class=>video_vis_class(video)}
      = link_to h(video.title), video_path( video.id )
      - if !(date = video_created(video)).blank?
        = "(#{h date.year})"

    %p
      - if bookmark
        =h bookmark.sentence
      - else
        =h video.sentence
    - if !video.tags.empty?
      %p
        Tags:
        = tags_html( video.tags )
    %p<
      = link_to "View video details", video_path( video )
      \|
      - if current_user
        = render :partial => "videos/alter_favorites", :object => video
        \|
        = render :partial => "videos/add_to_playlist", :object => video
      = link_to "Download", download_video_path( video )
