- video = show
.video
  .image
    %a{:href => video_path( video.id )}
      -if poster_path = video.poster_path
        %img{:src=>poster_path,:alt => "video #{video.id}"}
  .details
    .title{:class=>video_vis_class(video)}
      = link_to h(video.title), video_path( video.id )

    - if !(date = video_created(video)).blank?
      .year= "(#{h date.year})"

    .sentence=h video.sentence
    - if !video.tags.empty?
      .tags
        Tags:
        = tags_html( video.tags )
    .menu
      = link_to "View video details", video_path( video )
      &nbsp;&bull;&nbsp;
      - if current_user
        .actions
          .action
            = render :partial => "videos/alter_favorites", :object => video
          .action
            = render :partial => "videos/add_to_playlist", :object => video
        &nbsp;&bull;&nbsp;
      = link_to "Download", download_video_path( video )
  .clear
