- video = show
- bookmark = nil
- annotation = nil
- id_value = "#{video.class.name.tableize.singularize}_#{video.id}"
- if Bookmark === video
  - bookmark = video
  - annotation = bookmark.annotation
  - video = bookmark.video
-# removed: .video{:id => id_value}
%li
  .image
    %a{:href => video_path( video.id )}
      -if poster_path = video.poster_path
        %img{:src=>poster_path,:alt => "video #{video.id}"}
  .details
    %h5.title{:class=>video_vis_class(video)}
      = link_to h(video.title), video_path( video.id )
      - if !(date = video_created(video)).blank?
        = "(#{h date.year})"

    %p
      - if false and bookmark
        =h bookmark.sentence
      - else
        =h video.sentence
    - if !video.tags.empty?
      %p
        Tags:
        = tags_html( video.tags )
    - if bookmark
      - if bookmark.user != current_user
        - if annotation && !annotation.blank?
          %p.annotation
            = annotation
      - else
        .annotation
          .url= annotation_bookmark_path bookmark
          - if annotation
            .edit<= annotation
          - else
            .edit< Click to add annotation (press Enter to save)
    %p<
      = link_to "View video details", video_path( video )
      \|
      = link_to "Download", download_video_path( video )
      - if bookmark and bookmark.user == current_user
        \|
        = link_to "Remove from " + container_text( @collection ), bookmark_path( bookmark ) |
                                , :method => :delete |
                                , :confirm => "Are you sure you want to remove this video?" |

