.video
  .image
    %a{:href => video_path( tile.id )}
      %img{:src=>tile.poster_path,:alt => "video #{tile.id}"}
  .text
    .title=h tile.title
    - if !tile.year.blank?
      .year= "(#{h tile.year})"
  %ul
    %li= link_to "View video details", video_path( tile )
    %li= link_to "Add to favorites", favorites_path
    %li= link_to "Download", download_video_path( tile )
