- video = tile
.video
  .image
    %a{:href => video_path( video.id )}
      - if poster_path = video.poster_path
        %img{:src=>poster_path,:alt => "video #{video.id}"}
  .clear
  .text
    .title=h video.title
    - if !video.year.blank?
      .year= "(#{h video.year})"
  %ul
    %li= link_to "View video details", video_path( video )
    %li
      = render :partial => "alter_favorites", :object => video
    %li= link_to "Download", download_video_path( video )
