.video
  .image
  .text
    .title=h tile.title
    - if !tile.year.blank?
      .year= "(#{h tile.year})"
  %ul
    %li= link_to "View video details", video_path( tile )
    %li= link_to "Add to favorites", user_favorites_path( tile )
    %li= link_to "Download", download_video_path( tile )
