%dt.descriptor= "#{h type.title}:"
%dd.descriptor
  - type.descriptors_alphabetized.each do |descriptor|
    .value
      = check_box_tag "video_descriptor_#{descriptor.id}", |
                      descriptor.id, |
                      @video.descriptors.detect { |d| d.id == descriptor.id }, |
                      :name => "video[descriptors][]" |
      = label_tag "video_descriptor_#{descriptor.id}", h(descriptor.text)
