- form_for @video do |@form|

  %fieldset

    %legend
      = @video.new_record? ? "New" : "Edit"
      Video

    .tabs
      %ul
        - edit_tabs.each do |tab|
          = tabs_tab_for tab
      - edit_tabs.each do |tab|
        = tabs_div_for tab

    .clear

    = @form.submit @video.new_record? ? "Create" : "Save", |
           :name => "submit", :value => "save", :id => nil |
    = @form.submit "Apply", :name => "submit", :value => "apply", :id => nil
    - if @video.new_record?
      = @form.submit
      = link_to "clear", clear_videos_path
      = link_to "cancel", cancel_videos_path
    - else
      = link_to "reset", reset_video_path( @video )
      = link_to "cancel", video_path( @video )
