- verb = @video.new_record? ? "New" : "Edit"
.account-page
  .head
    %span.left
      = verb
      Video
  .body

    %div

      .left.col-right
        %dl
          %dt
            = image_tag "icon-video.gif",  :alt => "#{verb} Video Metadata", :width => "15"
            = verb
            Video Metadata
          %dd.tabs_pi
            %ul
              - edit_tabs.each do |tab|
                = tabs_tab_for tab
      .col-main.right{ :style => "width: 620px" }
        - form_for @video do |@form|
          - edit_tabs.each do |tab|
            = tabs_div2_for tab
          .button-set
            .left
              = image_submit_tag "btn-save-changes.gif", :name => "submit", :value => "save"
              %span.btn-cancel
                - if @video.new_record?
                  = link_to "Clear", clear_videos_path
                  |
                  = link_to "Cancel", cancel_videos_path
                - else
                  = link_to "Reset", reset_video_path( @video )
                  |
                  = link_to "Cancel", video_path( @video )
            .right
              = image_submit_tag "btn-next.gif", :name => "next"
            .clear
            = image_submit_tag "btn-finish.gif", :name => "submit", :value => "finished"

