-form_for @video do |f|
  %fieldset
    %legend Catalog File
    = f.error_messages
    %dl
      %dt
        %label Filename:
      %dd=h @video.assets[0].filename
    
      %dt= f.label :title, "Title:"
      %dd= f.text_field :title
    
      %dt= f.label :sentence, "Sentence:"
      %dd.sentence= f.text_field :sentence

      = render :partial => "type", :collection => DescriptorType.find( :all ), |
                                   :locals => { :f => f } |


  = hidden_field_tag :descriptors_passed
  = hidden_field_tag "video_filename", @video.assets[0].filename, |
                     :name => "video[filename]" |
  = f.submit "Save Video"
