- verb = @video.new_record? ? "New" : "Edit"
.account-page
  .head
    %span.left
      My NHF »
      = verb
      Video
  .body
    
    %div

      .left.col-right
        %dl
          %dt
            %img{ :src => "/images/icon-video.gif", :alt => "#{verb} Video Mediadata", :width => "15" }
            = verb
            Video Mediadata
          %dd.tabs_pi
            %ul
              - edit_tabs.each do |tab|
                = tabs_tab_for tab
      .col-main.right{ :style => "width: 620px" }
        - form_for @video do |@form|
          - edit_tabs.each do |tab|
            = tabs_div2_for tab
          .button-set
            .left
              %input.submit{ :name => "submit", :value => "save", :src => "/images/btn-save-changes.gif", :type => "image" }
              %span.btn-cancel
                - if @video.new_record?
                  = link_to "Clear", clear_videos_path
                  |
                  = link_to "Cancel", cancel_videos_path
                - else
                  = link_to "Reset", reset_video_path( @video )
                  |
                  = link_to "Cancel", video_path( @video )
            .right
              %input.submit{ :name => "next", :src => "/images/btn-next.gif", :type => "image" }
            .clear
            %input.submit{ :name => "submit", :value => "finished", :src => "/images/btn-finish.gif", :type => "image" }

