- form_for @video, :url => general_information_video_path( @video ) do |f|

  .form

    .column

      %fieldset
        %legend Title Information

        .label= f.label :video, "Title of Video"
        .title= f.text_field :title

      %fieldset
        %legend Content Summary

        .label= f.label :sentence, "Sentence Summary"
        .title= f.text_field :sentence

        .label= f.label :abstract
        .title= f.text_field :abstract


      %fieldset
        %legend Rights

        .label= f.label :rights_holder, "Rights Holder"
        .title= f.text_field :rights_holder

        .label= f.label :rights, "Type of Rights"
        .title= f.select :rights_id, Rights.select_options


    .column

      %fieldset
        %legend Description

        .label= f.label :video, "Type"
        .title= f.text_field :title

        .label= f.label :video, "Color"
        .title= f.text_field :title

        .label= f.label :video, "Sound"
        .title= f.text_field :title

        .label= f.label :video, "Duration"
        .title= f.text_field :title

        .label= f.label :video, "Auidence"
        .title= f.text_field :title

        .label= f.label :video, "Language"
        .title= f.text_field :title

        .label= f.label :video, "Language Notes"
        .title= f.text_field :title

    .clear

  = render :partial => "/shared/create", :object => @video, |
                                         :locals => { :f => f } |
