- form_for @video, :url => general_information_video_path( @video ) do |f|

  .form

    .column

      %fieldset
        %legend Title Information

        .label= f.label :video, "Title of Video"
        %div= f.text_field :title, :size => 50

      %fieldset
        %legend Content Summary

        .label= f.label :sentence, "Sentence Summary"
        %div= f.text_area :sentence, :cols => 38, :rows => 2

        .label= f.label :abstract
        %div= f.text_area :abstract, :cols => 38, :rows => 6


    .column

      %fieldset
        %legend Description

        .label= f.label :duration
        %div= f.text_field :duration

      %fieldset
        %legend Local Reference

        .label= f.label :local_id
        %div= f.text_field :local_id

        .label= f.label :donor
        %div= f.text_area :donor, :cols => 38, :rows => 2

    .full_width

      %fieldset
        %legend Rights

        .label= f.label :rights_holder, "Rights Holder"
        %div= f.text_field :rights_holder

        .label= f.label :rights, "Type of Rights"
        %div
          %select{:name=>"video[rights_id]"}
            = rights_options

    .clear

  = render :partial => "/shared/create", :object => @video, |
                                         :locals => { :f => f } |
