- form_for @video, :url => general_information_video_path( @video ) do |f|

  .form
    %fieldset
      %legend Title Information
      .label= f.label :video, "Title of Video"
      .title= f.text_field :title

    %fieldset
      %legend Description
      .label= f.label :video, "Type"
      .title= f.text_field :title

    .clear

  = f.submit "Create new video"
  = link_to "cancel", videos_path