.hitlist

  %h1
    Search / Browse Results

    - if params[:descriptor_value_id]
      %br
      %br
      %div
        - descriptor = DescriptorValue.find( params[:descriptor_value_id] )
        .search-within
          In
          = h(descriptor.property_type.name)
          &mdash;
          = h(descriptor.text)

  = render :partial => "videos/index", :object => @videos

.sidebar
  .entry
    .title Other videos
    %ul
      %li= link_to "Browse all videos", videos_path
  /
    .entry
      - if @type
        = render :partial => "shared/axis", :object => @type
  .entry
    .title Refine Results
    / = debug ( @search )
    - form_for @search, :url => videos_path, :html => { :method => :get } do |form|
      %ul.refine
        / %li= text_field_tag :query, params[:query], :size => 35, :id => nil
        %li
          = form.criterion :text
          / = text_field_tag :query, params[:query], :size => 35, :id => nil
        %li
          %label
            = form.criterion :duration
            %span.text Duration:
        - PropertyType.browse do |type|
          %li
            %label
              = form.criterion type
              %span.text&== #{type.name}:
        %li= form.submit "refine"
  - if current_user
    .entry
      .title Tools and Services
      %ul
        - if current_user && current_user.has_role?( [ :admin, :cataloger ] )
          %li= link_to "<span>Add new video</span>", "/videos/new"
        - if current_user and ( params[:descriptor_value_id] or params[:query] )
          %li
            - form_tag saved_queries_path, :method => :post do
              = hidden_field_tag :descriptor_value_id, params[:descriptor_value_id]
              = hidden_field_tag :query, params[:query]
              %label.button
                Save this search
                = submit_tag "Save this search", :class => :hidden

.clear