.hitlist

  %h1 Search / Browse Results

  .form
    - form_tag @path.call({}), :method => :get do
      = text_field_tag :query, params[:query], :size => 60
      = submit_tag "Search"

  .pagination_info
    = page_entries_info @videos

  .navigate

    .view.first
      %div{current(:list)}= link_to_format :list
    .view
      %div{current(:tile)}= link_to_format :tile
    .view
      %div{current(:image)}= link_to_format :image
    .clear

  %div{:class => "videos #{page_format.to_s}"}
    = render :partial => page_format.to_s, :collection => @videos

    .clear

  .pagination
    = will_paginate @videos

.sidebar
  .entry
    - if @type
      = render :partial => "shared/axis", :object => @type
  .entry
    .title Refine Results
    %ul
      %li Genre: select one
  .entry
    .title Tools and Services
    %ul
      - if current_user && current_user.has_role?( "admin" )
        %li= link_to "<span>Add new video</span>", "/videos/new"
      %li Save this search

.clear