%fieldset
  %legend New Video
  .tabs
    %ul
      = tab_for :general_information
      = tab_for :digital_files
      = tab_for :responsible_entities
      = tab_for :dates
      = tab_for :chapters
      = tab_for :descriptors
      = tab_for :collections
      = tab_for :related_videos

