-form_for @video do |f|
  %fieldset
    %legend Catalog File
    = f.error_messages
    %dl
      %dt
        %label Filename:
      %dd=h @video.filename
    
      %dt= f.label :title, "Title:"
      %dd= f.text_field :title
    
      %dt= f.label :sentence, "Sentence:"
      %dd= f.text_field :sentence
  = hidden_field :video, :filename
  = f.submit "Add video"

