.category.featured
  .title.block Recent Videos
  .content.block
    .videos
      - Video.recent(5).each do |video|
        .video
          .image
            %a{:href => video_path( video.id )}
              - if poster_path = video.poster_path
                %img{:src=>poster_path,:alt => "video #{video.id}"}
          .clear
          .text
            .title= link_to h(video.title), video_path( video.id )
            .description= h video.sentence
    .clear
  .footer.block.last= link_to "See more recent videos &raquo;", recent_videos_path
= render :partial => "browse"
