- video ||= @video
.one-column
  .head
    %span.left{:class=>video_vis_class(video)}
      = h video.title

    - if current_user and current_user.has_role?(  [ :admin, :cataloger ] )
      %label
        - form_for video, :html => { :id => nil } do |form|
          %label
            = form.check_box :featured
            - if !video.featured?
              Feature this video
            - else
              This video featured on
              = video.featured_on.to_time.localtime.strftime("%B %d, %Y at %I:%M %p")
              = feature_rank( video )
    - else
      - if video.featured?
        %label.featured
          FEATURED

    - if current_user and current_user.has_role?( :admin )
      .public
        - form_for video, :html => { :id => nil } do |form|
          %label
            = form.check_box :public
            - if !video.public?
              Make this video public
            - else
              This video is public
    - elsif current_user and current_user.has_role?(  :cataloger )
      .label
        This video is
        = video.public? ? "public" : "private"

  .body
    /left col start
    .col-left

      - if p = select_flash_path(video)

        %p.miniplayer#flash

        %script{:type => "text/javascript", :src=>"/javascripts/swfobject.js"}
        %script{:type => "text/javascript"}
          var s1 = new SWFObject('/player.swf','player','200','150','9');
          s1.addParam('allowfullscreen','true');
          s1.addParam('allowscriptaccess','always');
          s1.addParam('flashvars',
          = "'file=#{p}&image=#{video.poster_path}'"
          );
          s1.write('flash');

      .details
        .full-screen
          - video.assets.each do |asset|
            %a{:href => asset_path( asset  )}
              %img{ :src => "/images/icon-full-size.gif", :alt => "" }
              Watch Full Size Video

        - if !video.abstract.blank?
          .abstract
            :textile
              #{video.abstract}
        - elsif !video.sentence.blank?
          .description&= video.sentence
          .download
            - video.assets.each do |asset|
              %a{:href => asset_path( asset  )}
                %img{ :src => "/images/btn-download.gif", :alt => "download" }
              %span
                = h asset.asset_format + " " + number_to_human_size(asset.size)
    /left col end
    .col-center
      %ul.navigators
        %li
          %a{ :href => "#details" }
            Details
        %li
          %a{ :href => "#storyboard" }
            Storyboard
        %li
          %a{ :href => "#fast-forward" }
            Fast Forward
        %li
          %a{ :href => "#excerpt" }
            Excerpt
      %dl#details
        %dt
          Overview
        %dd
          %ul
            %li
              %label
                Added:
              = video.created_at.to_date.to_s(:long)
            %li
              %label
                Updated:
              = video.updated_at.to_date.to_s(:long)
            %li
              %label
                License:
              %p
              - if !video.rights_holder.blank?
                :textile
                  #{video.rights_holder}
              %p
                = h video.rights.statement
              %p
                :textile
                  #{video.rights.html}
        %dt
          Dates
        %dd
          %ul
            %li
              %label
                Creation:
              April 14, 2009
            %li
              %label
                Digitization:
              April 21, 2009
        %dt
          Descriptors
        %dd
          %ul
            %li
              %label
                Descriptor:
        %dt
          Responsible Entities
        %dd
          %ul
            %li
              %label
                Writer:
              John Smith
        %dt
          Video Information
        %dd
          %ul
            %li
              %label
                Alternative Title:
              video[alternative_title]
            %li
              %label
                Series Title:
              video[series_title]

      #storyboard
        - images = video.storyboard
        - images.each_with_index do |image, index|
          - if ((index + 1) % 4).zero?
            .image.fourth
              %a{ :href => "#" }
                %img{:src=>image,:alt=>"storyboard image"}
          - else
            .image
              %a{ :href => "#" }
                %img{:src=>image,:alt=>"storyboard image"}
      #fast-forward
        Fast forward
      #excerpt
        Excerpt
    /center end
    .col-right
      %dl
        %dt
          %img{ :src => "/images/icon-tag.gif", :alt => "tags" }
          TAGS
        %dd
          .tags
            - if current_user and @library.user_tagging_enabled?
              = tags_html( video.tags )
              - form_tag url_for( :controller => :tagging, :action => :create ) do
                = text_field_tag :tags
                = hidden_field_tag :video_id, video.id
                = submit_tag "add tags"
        %dt
          %img{ :src => "/images/icon-video.gif", :alt => "more videos" }
          More videos
        %dd
          %ul
            %li
              = link_to "Browse All Videos »", videos_path
            - if session[:search]
              %li
                = link_to "Return to search results »", search_path( session[:search])
        %dt
          %img{ :src => "/images/icon-tool.gif", :alt => "TOOLS &amp; SERVICES" }
          TOOLS &amp; SERVICES
        %dd
          %ul
            %li.menu-print
              %span.icon
              %a{ :href => "#" }
                Print
            %li.menu-email
              %span.icon
              = link_to "E-mail", mail_video( video )
            - if !@library.emails.blank?
              %li.menu-report
                %span.icon
                = link_to "Report Issue", mail_video_issue( video )
            - if current_user
              %li.menu-favorites
                %span.icon
                %a{ :href => "#" }
                  Add to Favorites
              %li.menu-playlists
                %span.icon
                %a{ :href => "#" }
                  Add to Playlist
            %li.menu-embed
              %span.icon
              %a{ :href => "#" }
                Embed Video
        - if current_user and current_user.has_role?(  [ :admin, :cataloger ] )
          %dt
            %img{ :src => "/images/icon-option.gif", :alt => "CATALOGING OPTIONS" }
            CATALOGING OPTIONS
          %dd
            %ul
              %li.menu-edit
                %span.icon
                = link_to "Edit Video Record", edit_video_path( video )
              %li.menu-delete
                %span.icon
                = link_to( "Delete Video Record", video_path( video ), |
                       :confirm => "Are you sure you want to delete the catalog record for this video? Select OK to delete it, or Cancel to keep it.", |
                       :method => :delete ) |
              %li.menu-create
                %span.icon
                = link_to "Create New Record", new_video_path
