- max ||= nil
- browse ||= false
.axes
  %dl.category
    - axis_index = 1
    - PropertyType.browse do |type|
      /
        .axis.property_type{:id=>"property_type_#{type.id}"}
          .handle
            .handle_image
      %dt{:id=>"property_type_#{type.id}"}
        = type.name
      %dd
        %ul
          - type.values.each do |descriptor|
            %li
              = link_to descriptor.text, |
                descriptor_value_search( descriptor ) |
              %span.count= "[#{descriptor.videos(public_only?).size}]"
          - unless HomeController === controller
            %li.all
              = link_to "All #{type.name.pluralize} &raquo;", |
                        property_type_videos_path( type ) |
    - if !max.nil? and axis_index >= max
      - break
    - else
      - axis_index += 1

  - if browse
    .browse
      = link_to "More Categories &raquo;", videos_path

:javascript
  jQuery(".axes .axis .title a").prepend('<span class="icon"><\/span> ');
  jQuery(".axes dl").accordion( {
    header: "dt",
    event: 'click',
    autoHeight: false,
  });
  jQuery(".ui-accordion").bind( 'accordionchange', function(event, ui){
    var $ = jQuery;
    $("body").css("cursor","wait");
    pt_id = $(ui.newHeader).attr("id").replace("property_type_","");
    $.get(relative_url_root + "/videos/images?property_type=" + pt_id, function(data){
      $("div#videos").fadeOut("fast",function(){
        $("div#videos").html(data);
        $('ul.videos li.fifth + li').css("clear", "left");
        $("div#videos").fadeIn("fast");
        $("body").css("cursor","default");
      });
    });
  });

