.axes
  - PropertyType.browse do |type|
    .axis
      .title= type.name
      %ul
        / - type.descriptors_prioritized.each do |descriptor|
        - type.values.each do |descriptor|
          %li
            = link_to descriptor.text, |
              descriptor_value_search( descriptor ) |
            %span.count= "[#{descriptor.videos.size}]"
        %li.all
          = link_to "All #{type.name.pluralize} >>", |
                    property_type_videos_path( type ) |
