/left col start
.col-left
  .head
    %span.left
      BROWSE
  = render :partial => "shared/axes"
/left col end, center col start
.col-center
  .head
    %span.left
      FEATURED VIDEO
  .videos
    - first = true
    - featured_videos.each do |video|
      %div{:class =>(first ? "video odd first" : "video even other")}
        - first = false
        .image
          %a{:href => video_path( video.id )}
            -if poster_path = video.poster_path
              %img{:src=>poster_path,:alt => "video #{video.id}"}
        .details
          %h5.title{:class=>video_vis_class(video)}
            = link_to h(video.title), video_path( video )
          - if !(d = video_created( video )).blank?
            .duration= int_to_duration( video.duration )
            %span.between
              |
            .created
              &= video_created( video ).to_s(:long)
          - if !video.sentence.blank?
            %p
              &= video.sentence
/center col end, right col start
.col-right
  .head
    %span.left
      COLLECTIONS
    %span.right
      = link_to "All", collections_collections_path
      == (#{public_collections_count})

  .collections
    - featured_collections.each do |collection|
      .collection.odd{ :id => "collection_#{collection.id}" }
        %h5.title
          = link_to h(collection.title), collection_path( collection )
        %p.number
          = collection.size(public_only?)
          videos
        %p
          &= collection.description
        .handle
          .handle_image
  %input{ :type => "submit", :class => "save_new_order", :value => "Save new order" }
  .all_collections
    = link_to "View all collections &raquo;", collections_collections_path
  /right col end
- if current_user and current_user.has_role?( "admin" )
  :javascript
    $(document).ready( function() {
      make_sortable( { list_selector: "#featured_collections", item_selector: ".collection",    post_url: "/collections/featured/order" });
      make_sortable( { list_selector: "#featured_videos",      item_selector: ".video",         post_url: "/videos/featured/order" });
      make_sortable( { list_selector: "#browse_axes",          item_selector: ".property_type", post_url: "/library/property_type/order" });
    });
