.head
  Descriptor Types

- form_for :library, @library, :html => { :method => :put, |
                                          :class => "admin-form"  } |
                                            do |@form| |

  %ul#descriptor_types_list
    - self.descriptor_types.each do |dt|
      = render :partial => "library/dt", :object => dt

  .property-type.new_dt
    = link_to "+ Add new descriptor type", "#"
    .template
      = render :partial => "library/dt", :object => dt_template


  %br
  .left
    = image_submit_tag "btn-save-changes.gif", :name => "submit", :value => "save", :class => "submit", :id => nil
    %span.btn-cancel
      = link_to "cancel", library_path
    .clear
    = image_submit_tag "btn-finish.gif", :name => "submit", :value => "finished", :class => "submit", :id => nil

  - if current_user and current_user.has_role?( "admin" )
    :javascript
      jQuery(document).ready( function() {
      make_sortable( { list_selector : "#descriptor_types_list", item_selector : ".dtype" , post_url : "/library/property_type/order", handle:".dt_handle"}  );
      });

