- f = @f
%div
  .form
    %ul
      - PropertyType.descriptor_types.each do |dt|
        %li.dt.delete
          %div.dt.display-edit
            .display
              = dt.name
              %span.edit= link_to "edit", ""
            .edit
              %label
                Type:
                = text_field_tag "property_type[#{dt.id}][name]", |
                                  dt.name, :id => nil |
                %span.delete= link_to "delete", ""
          %ul
            - dt.descriptor_values.each do |dv|
              %li.delete
                %div.d.display-edit
                  .display
                    = dv.text
                    %span.edit= link_to "edit", ""
                  .edit
                    %label
                      Value:
                      = text_field_tag "descriptor_value[#{dv.id}][text]", |
                                        dv.text, :id => nil |
                      %span.hidden
                        = text_field_tag "descriptor_value[#{dv.id}][property_type_id]", |
                                          dv.property_type_id, :id => nil |
                    %span.delete= link_to "delete", ""
            %li.d.new
              %div.d.display-new
                .display
                  = link_to "Add new descriptor"
                .new
                  %ul
                    %li.delete
                      %div.d.display-edit
                        .edit
                          %label
                            Value:
                            = text_field_tag "descriptor_types[#{dt.id}][descriptors][new_d][text]", |
                                              nil, :id => nil |
                          %span.delete= link_to "delete", ""
      %li.dt.new
        %div.dt.display-new
          .display
            = link_to "Add new descriptor type"
          .new
            %ul
              %li.dt.delete
                %div.dt.display-edit
                  .edit
                    %label
                      Type:
                      = text_field_tag "descriptor_types[new_dt][name]", |
                                        nil, :id => nil |
                      %span.delete= link_to "delete", ""
                %ul
                  %li.delete
                    %div.d.display-edit
                      .edit
                        %label
                          Value:
                          = text_field_tag "descriptor_types[new_dt][descriptors][new_d][text]", |
                                            nil, :id => nil |
                        %span.delete= link_to "delete", ""
                  %li
                    = link_to "Add new descriptor"
    .clear