%li.delete{:id => "property_type_#{dt.id}"}
  .property-type.display-edit
    .display{ error_class(dt) }
      = dt.name
      = dt.browsable? ? "(browsable)" : "(not browsable)"
      %span.edit= link_to "edit", "#"
    .edit{ error_class(dt) }
      - fields_for "property_type[#{type_id(dt)}]", dt do |fields|
        %div
          %label
            Type:
            = fields.text_field :name
        %div
          %label
            Browsable:
            = fields.check_box :browsable
        %div
          %span.delete= link_to "delete", "#"
        = error_messages_for 'property_type', :object => dt
        = fields.hidden_field :property_class_id
        = hidden_field_tag "property_type[#{type_id(dt)}][deleted]", |
                             false, :id => nil, :class => :deleted |
  %ul
    - descriptor_values(dt).each do |dv|
      = render :partial => "library/dv", :object => dv
    %li.delete
      .property-type.new
        = link_to "Add new descriptor value", "#"
        %ul.template
          = render :partial => "library/dv", :object => dv_template( dt )