%li.delete
  .property-type.display-edit
    .display{ error_class(dv) }
      = dv.text
      %span.edit= link_to "edit", ""
    .edit{ error_class(dv) }
      - fields_for "descriptor_value[#{type_id(dv)}]", dv do |fields|
        %label
          Value:
          = fields.text_field :text
        %span.delete= link_to "delete", ""
        = error_messages_for 'descriptor_value', :object => dv
        = hidden_field_tag( "descriptor_value[#{type_id(dv)}][deleted]", |
                            false, :id => nil, :class => :deleted ) |
        = fields.hidden_field :property_type_id, :value => type_id( dv.property_type )
