%li.delete
  - fields_for "descriptor_value[#{type_id(dv)}]", dv do |dv_fields|
    .property-type.display-edit
      .display{ error_class(dv) }
        = dv.text
        %span.edit= link_to "edit", ""
      .edit{ error_class(dv) }
        %label
          Value:
          = dv_fields.text_field :text
        %span.delete= link_to "delete", ""
        = error_messages_for 'descriptor_value', :object => dv
        = hidden_field_tag( "descriptor_value[#{type_id(dv)}][deleted]", |
                            false, :id => nil, :class => :deleted ) |
        = dv_fields.hidden_field :property_type_id
