.head
  Library Settings
- form_for :library, @library, :html => { :method => :put, |
                                          :class => "admin-form create"  } |
                                            do |@form| |
  %ul
    %li
      %label
        Title
        = @form.text_field :title, :class => "input", :placeholder => "Name of your library; used as primary title text in masthead"

    %li
      %label
        Subtitle
        = @form.text_field :subtitle, :class => "input", :placeholder => "Subtitle of your library; used as secondary title text in masthead"

    %li
      %label
        Logo URL
        = @form.text_field :logo_url, :class => "input"

    %li
      %label
        Organization Link Content
        = @form.text_field :org_link, :class => "input", :placeholder => "Link text and URL of your Web site; Format: 'Org Name':http://www.name.org"

    %li
      %label
        Site Copyright Content
        = @form.text_field :copyright, :class => "input", :placeholder => "Text of copyright statement used in site footer"

    %li
      %label
        My Library Tab
        = @form.text_field :my, :class => "input", :placeholder => "Text of primary navigation tab seen by logged in users"

    %li
      %label
        Collections Title
        = @form.text_field :collections_title, :class => "input", :placeholder => "Title text that is used on Collections page"

    %li
      %label
        Playlists Title
        = @form.text_field :playlists_title, :class => "input", :placeholder => "Title text that is used on Playlists page"

    %li
      %label
        Collections Login
        = @form.text_field :collections_login, :class => "input", :placeholder => "login name of the user who has rights to create and edit the Library collections"

    %li
      %label
        Contact Email
        = @form.text_field :emails, :class => "input", :placeholder => "e-mail address that is used in e-mail links on site"

    %li
      %label
        = @form.check_box :user_tagging_enabled
        %strong
          Enable User Tagging

    %li
      %label
        Theme
      .themes
        = theme_choices
        /
          %select{:name => "library[theme]"}
            = theme_choices

  .left
    = image_submit_tag "btn-save-changes.gif", :name => "submit", :value => "save", :class => "submit", :id => nil
    %span.btn-cancel
      = link_to "cancel", library_path
    .clear
    =  image_submit_tag "btn-finish.gif", :name => "submit", :value => "finished", :class => "submit", :id => nil
