- f = @f
%div

  .form

    %fieldset

      %legend Library Information
      .label= f.label :library, "Title"
      .title= f.text_field :title, :size => 50

      .label= f.label :library, "Subtitle"
      .title= f.text_field :subtitle, :size => 80

      .label= f.label :library, "Logo URL"
      .title= f.text_field :logo_url, :size => 80, :maxlength => 255

      .label= f.label :library, "My Library Tab"
      .title= f.text_field :my, :size => 80, :maxlength => 255

    .clear
