Library Settings
%ul
  %li
    %label
      Title
      %br
      = @form.text_field :title, :size => 50

  %li
    %label
      Subtitle
      %br
      = @form.text_field :subtitle, :size => 80

  %li
    %label
      Logo URL
      %br
      = @form.text_field :logo_url, :size => 80, :maxlength => 255

  %li
    %label
      Organization Link Content
      %br
      = @form.text_field :org_link, :size => 80, :maxlength => 255

  %li
    %label
      Site Copyright Content
      %br
      = @form.text_field :copyright, :size => 80, :maxlength => 255

  %li
    %label
      My Library Tab
      %br
      = @form.text_field :my, :size => 80, :maxlength => 255

  %li
    %label
      Collections Title
      %br
      = @form.text_field :collections_title, :size => 80, :maxlength => 255

  %li
    %label
      Playlists Title
      %br
      = @form.text_field :playlists_title, :size => 80, :maxlength => 255

  %li
    %label
      Collections Login
      %br
      = @form.text_field :collections_login, :size => 80, :maxlength => 255

  %li
    %label
      Contact Email
      %br
      = @form.text_field :emails, :size => 80, :maxlength => 255

  %li
    %label
      = @form.check_box :user_tagging_enabled
      Enable user tagging

  %li
    %label
      Theme:
      %select{:name => "library[theme]"}
        = theme_choices
