- pc = PropertyClass.find_by_name property_class
.head
  &= pc.name
- form_for :library, @library, :html => { :method => :put, |
                                          :class => "admin-form"  } |
                                            do |@form| |
  %ul
    - property_types_by_class(pc).each do |pt|
      = render :partial => "library/pt", :object => pt
    %li
      .property-type.new
        = link_to "new", "#"
        %ul.template
          = render :partial => "library/pt", :object => pt_template(pc)
  %br
  .left
    = image_submit_tag "btn-save-changes.gif", :name => "submit", :value => "save", :id => nil
    %span.btn-cancel
      = link_to "cancel", library_path
    .clear
    = image_submit_tag "btn-finish.gif", :name => "submit", :value => "finished", :id => nil
