- pc = PropertyClass.find_by_name property_class

%div
  .form
    %ul
      - property_types_by_class(pc).each do |pt|
        %li.delete
          - fields_for "property_type[#{type_id(pt)}]", |
                       pt do |fields| |
            .property-type.display-edit
              .display{ error_class(pt) }
                = pt.name
                %span.edit= link_to "edit", ""
              .edit{ error_class(pt) }
                %label
                  Name:
                  = fields.text_field :name
                %span.delete
                  = link_to "delete", ""
                = error_messages_for 'property_type', :object => pt
                = hidden_field_tag "property_type[#{type_id(pt)}][deleted]", |
                                   false, :id => nil, :class => :deleted |
                -
                = hidden_field_tag "property_type[#{type_id(pt)}][property_class_id]", |
                                   pc.id, :id => nil |
      %li
        .property-type.new
          = link_to "new", ""
          %ul.template
            %li.delete
              .property-type.display-edit
                .display
                  name
                  %span.edit= link_to "edit", ""
                .edit
                  %label
                    Name:
                    = text_field_tag "property_type[new][name]", |
                                     "name", :id => nil |
                  -
                  = hidden_field_tag "property_type[new][property_class_id]", |
                                     "#{pc.id}", :id => nil |
                  %span.delete
                    = link_to "delete", ""
                    = hidden_field_tag "property_type[new][deleted]", |
                                       false, :id => nil |
        