%li.delete
  .property-type.display-edit
    .display{ error_class(rd) }
      .license
        %label
          License:
        %p
          = rd.license
          |
          %span.edit
            = link_to "edit", "#"
      .statement
        %label
          Statement:
        %p
          = rd.statement
      .html
        %label
          HTML:
        %p
          = rd.html.blank? ? '&nbsp;' : rd.html

    .edit{ error_class(rd) }
      - fields_for "rights_detail[#{type_id(rd)}]", rd do |fields|
        .license
          %label
            License:
            = fields.text_field :license
            %span.delete
              = link_to "delete", "#"
        .statement
          %label
            Statement:
            = fields.text_field :statement
        .html
          %label
            HTML:
            = fields.text_area :html
        = error_messages_for 'rights_detail', :object => rd
        = hidden_field_tag "rights_detail[#{type_id(rd)}][deleted]", |
                           false, :id => nil, :class => :deleted |
