.head
  Rights Statements
- form_for :library, @library, :html => { :method => :put, |
                                          :class => "admin-form create"  } |
                                            do |@form| |
  - rights_details.each do |rd|
    %ul
      = render :partial => "library/rd", :object => rd
  %ul
    %li
      .property-type.new
        = link_to "+ Add new rights statement", "#"
        %ul.template
          = render :partial => "library/rd", :object => rd_template
  .left
    = image_submit_tag "btn-save-changes.gif", :name => "submit", :value => "save", :class => "submit", :id => nil
    %span.btn-cancel
      = link_to "cancel", library_path
    .clear
    = image_submit_tag "btn-finish.gif", :name => "submit", :value => "finished", :class => "submit", :id => nil
