- form_for :library, @library, :html => { :method => :put } do |@form|
  
  %fieldset.library
    %legend Collection Information
    .tabs
      %ul
        - tabs.each do |tab|
          = tabs_tab_for tab
      - tabs.each do |tab|
        = tabs_div_for tab
    .clear

    = @form.submit "Finished", :name => "submit", :value => "finished", :id => nil
    = @form.submit "Save", :name => "submit", :value => "save", :id => nil
    = link_to "cancel", library_path
