%fieldset.library
  %legend Collection Information
  .tabs
    %ul
      = tab_for :general_information
      = tab_for :date_types
      = tab_for :roles
      = tab_for :descriptor_types
      = tab_for :collections
      = tab_for :digital_files
      = tab_for :rights_statements
      = tab_for :video_relation_types
      = tab_for :format_types
