- if (files = Asset.uncataloged_files(params).length) < 1
  .div No uncataloged files
- else
  %fieldset
    %legend Search
    = text_field_tag :uncatted
  %fieldset
    %legend Browse
    .uncataloged.template
      %table
        %tr
          %td.input
            = hidden_field_tag nil, |
                               ":uri:", |
                               :name => "uncataloged_assets[]" |
            .delete.right= link_to "delete", "#"
            = link_to "show.uri", "#", :class => "uri"
          %td.format= "show.asset_format"
          %td.size= "number_to_human_size(show.size)"    
    %table
      %thead
        %tr
          %th Filename
          %th Type
          %th Size
      %tbody.page
        %tr.hidden
          %td should be hidden
    #asset_pager.ajax
    %script{:type=>"text/javascript"}
      $(function(){
      $("div#asset_pager").paginate(
      = Asset.uncataloged_files({}).length
      ,
      = '"' + formatted_uncataloged_assets_path( :format => :json ) + '"'
      );
      $.load_assets(0);
      });
    / .div= will_paginate files
