- if (files = uncataloged_files(:paged => true)).length < 1
  .div No uncataloged files
- else
  %fieldset
    %legend Search for uncataloged assets
    = text_field_tag :uncatted
  %fieldset
    %legend Browse uncataloged assets
    %table
      %thead
        %tr
          %th Filename
          %th Type
          %th Size
      %tbody
        - files.each do |file|
          %tr
            %td
              = link_to_add_asset(@video,file)
              = h file_base(file)
            %td= h file_ext(file)
            %td= file_size(file)
    .div= will_paginate files
