%table
  %tr
    %td.input
      = hidden_field_tag "video_assets_show_:id:", |
                         ":id:", |
                         :name => "video[assets][]" |
      .delete.right= link_to "delete", "#"
      = link_to "show.uri", asset_path( ":id:" ), :class => "uri"
    %td.format= "show.asset_format"
    %td.size= "number_to_human_size(show.size)"