- if flash[:error]
  .flash.error
    %span
      = flash[:error]
- if flash[:notice]
  .flash.notice
    %span
      = flash[:notice]
.col-left
  .box.favorites
    .smaller-head
      %span.left
        Favorites
        &== (#{current_user.favorites.size(public_only?)})
      = link_to "View All &raquo;", favorites_my_path if current_user.favorites.size(public_only?) > 0
    .list
      - if current_user.favorites.size(public_only?) > 0
        %ul
          - current_user.favorites.each_with_index do |video,i|
            - break if i > 2
            %li
              .image{ :style => "background-color:#333" }
                %a{:href => video_path( video.id )}
                  -if poster_path = video.poster_path
                    %img{:src=>poster_path,:alt => "video #{video.id}", :width => "100", :height => "75"}
              .details
                %h5.title
                  = link_to h(video.title), video_path( video.id )
                %p
                  %span.remove
                    = link_to "Remove ", favorite_path( video.id ), |
                      :method => :delete, |
                      :confirm => "Are you sure you want to delete this video from your favorites?" |
      - else
        %p.my-message
          You currently have no saved favorites. Click the Add to Favorites link on a video details page to add it here.

  .box.downloads
    .smaller-head
      %span.left
        Downloads
        &== (#{current_user.downloads.size(public_only?)})
      = link_to "View All &raquo;", downloaded_videos_my_path if current_user.downloads.size(public_only?) > 0
    .list
      - if current_user.downloads.size(public_only?) > 0
        %ul
          - current_user.downloads.each_with_index do |video,i|
            - break if i > 2
            %li
              .image{ :style => "background-color:#333" }
                %a{:href => video_path( video.id )}
                  -if poster_path = video.poster_path
                    %img{:src=>poster_path,:alt => "video #{video.id}", :width => "100", :height => "75"}
              .details
                %h5.title
                  = link_to h(video.title), video_path( video.id )
                %p
                  %span.remove
                    = link_to "Remove ", download_path( video.id ), |
                      :method => :delete, |
                      :confirm => "Are you sure you want to delete this download for your list?" |
      - else
        %p.my-message
          You currently have no saved downloads. Videos you download from a video details page will be added here.

.col-center
  .box.saved-searches
    .smaller-head
      %span.left
        Saved Searches
        &== (#{current_user.searches.size})
      = link_to "View All &raquo;", saved_searches_my_path if current_user.searches.size > 0
    .list
      - if current_user.searches.size > 0
        %ul
          - current_user.searches.each_with_index do |search,i|
            - break if i > 3
            %li
              .details
                %h5.title.menu-searches
                  %span.icon
                  = link_to h('"' + search.title + '"'), search_path( Search.find( search.id ) )
                %p
                  %span.remove
                    /
                      %a{ :href => "#" }
                        Edit
                      |
                    = link_to "Remove ", saved_query_path( search.id ), |
                      :method => :delete, |
                      :confirm => "Are you sure you want to delete this search?" |
      - else
        %p.my-message
          You currently have no saved searches. Click the Save Search link on a search results page to save it here.

  .box.playlists
    .smaller-head
      %span.left
        Playlists
        &== (#{current_user.playlists.size})
      = link_to "View All &raquo;", playlists_my_path if current_user.playlists.size > 0
    .list
      - if current_user.playlists.size > 0
        %ul
          - current_user.playlists.each_with_index do |playlist,i|
            - break if i > 2
            %li
              .image{ :style => "background-color:#333" }
                %a{:href => collection_path( playlist.id )}
                  -if poster_path = playlist.poster_path(public_only?)
                    %img{:src=>poster_path,:alt => "playlist #{playlist.id}", :width => "100", :height => "75"}
              .details
                %h5.title
                  = link_to h(playlist.title), collection_path( playlist.id )
                %p
                  %span.remove
                    = link_to "Edit ", edit_collection_path( playlist.id )
                    |
                    = link_to "Remove ", collection_path( playlist.id ), |
                      :method => :delete, |
                      :confirm => "Are you sure you want to delete this playlist?" |
      - else
        %p.my-message
          You currently have no playlists. You can
          = link_to "create a playlist", new_collection_path
          and then add videos to it using the Add to Playlist link on a video details page.
