.account-page.dashboard
  .head
    %span.left
      My NHF
  .body
    = yield
    .col-right
      %dl
        %dt
          = image_tag("icon-user.gif", :alt => "user's icon avatar")
          MY PROFILE
        %dd
          .my-profile
            .username
              = h(current_user.login)
            = "Registered since " + current_user.created_at.to_date.to_s(:long)
            %br
            = link_to_action :my_account
        %dt
          = image_tag("icon-tool.gif", :alt => "TOOLS &amp; SERVICES")
          = Library.my
          Services
        %dd
          %ul
            %li.menu-home.on
              %span.icon
              = link_to_action :home
            %li.menu-favorites
              %span.icon
              = link_to_action :favorites
            %li.menu-playlists
              %span.icon
              = link_to_action :playlists
            %li.menu-create
              %span.icon
              = link_to "Create New Playlist", new_collection_path
            %li.menu-searches
              %span.icon
              = link_to_action :saved_searches
            %li.menu-downloaded
              %span.icon
              = link_to_action :downloaded_videos