#my-content
  = yield
#my-menu
  %ul
    %li
      = link_to_action :favorites
    %li
      = link_to_action :saved_searches
    %li
      = link_to_action :playlists
      .new_playlist
        = link_to "new playlist", new_collection_path
    %li
      = link_to_action :downloaded_videos
    %li
      = link_to_action :account

.clear
