- title ||= Library.title
!!! XML
!!!
%html
  %head
    %title= title
    = stylesheet_link_tag :all
  %body
    #page
      - if Library.logo_url
        #logo
          = image_tag Library.logo_url
      #container
        #header
          .login
            - if logged_in?
              .logout
                .button= link_to "LOGOUT", logout_path
              .user
                You're logged in as
                %span.login= h current_user.login
            - else
              .login
                .button= link_to "LOGIN", login_path
              .register
                .button= link_to "REGISTER", signup_path
          .title= title
          .subtitle= Library.subtitle
        #navigation
          %ul
            %li= link_to "<span>home</span>", "/"
          %ul
            %li= link_to "<span>videos</span>", "/videos"
        #content
          - [:notice, :error].each do |type|
            - unless flash[type].blank?
              %div{:class => "flash #{type} clearfix"}
                = flash[type]
          = yield