- title ||= Library.title
- my ||= Library.my
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= title
    = stylesheet_link_tag :all, :cache => "cached"
    = javascript_include_tag :all, :cache => "cache/all"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" |
      if protect_against_forgery? |
    = javascript_tag "var relative_url_root = '#{ActionController::Base.relative_url_root}'"
  %body
    .wrapper
      .center
        .superheader
          %ul
            %li
              %a{ :href => "#" }
                Register
            %li
              |
            %li
              %span#login
                Login
        /superheader end, div.header start
        .header
          .logo
            %h1
              %a{ :href => "#" }
                Northeast Historic Film Archives
            %h2
              A Digital Library for the Northeast Historic Film Archives
          .navigation
            %ul
              %li.on
                %a{ :href => "#" }
                  HOME
              %li
                %a{ :href => "#" }
                  VIDEOS
              %li
                %a{ :href => "#" }
                  COLLECTIONS
              %li
                %a{ :href => "#" }
                  PLAYLISTS
              %li
                %a{ :href => "#" }
                  MY NHF
            .search
              %form#new_search.new_search{ :action => "", :method => "get" }
                %input.input-text{ :name => "search[criteria][text][]", :size => "40", :type => "text" }
                %input.btn{ :src => "images/sch.gif", :type => "image" }
        /header end
        .container
          = yield
    .footer
      .center
        %ul
          %li
            = link_to "Home", url_for( :controller => :home, :action => :index )
          %li
            |
          %li
            = link_to "About", url_for( :controller => :home, :action => :about )
          %li
            |
          %li
            = link_to "Contact", url_for( :controller => :home, :action => :contact )
          %li
            |
          %li
            = link_to "News", url_for( :controller => :home, :action => :news )
          %li
            |
          %li
            = link_to "Privacy Policy &amp; Terms of Use", |
              url_for( :controller => :home, :action => :privacy ) |
        .copyright
          :textile
            #{@library.copyright}
        Powered by the
        = link_to "Open Video Toolkit", "http://www.open-video-toolkit.org/"
        /div.container end
      /div.center end
    /div.wrapper end
    -# after a page loads, immediately highlight any flash messages (changes bg to yellow, then fade back to white)
    -# a little later, fade out and remove the message completely
    :javascript
      $(document).ready( function() {
        setTimeout( '$(".flash").effect("highlight", {}, 1000 );', 500 );
        setTimeout( '$(".flash.notice").fadeOut( 2000 );' , 2000 );
        $('a[rel*=facebox]').facebox({opacity:0.5})
      } );
