- title ||= Library.title
!!! XML
!!!
%html
  %head
    %title= title
    = stylesheet_link_tag :all, :cache => "cache/all"
    = javascript_include_tag :all, :cache => "cache/all"
  %body
    #page
      #container
        #header
          - if Library.logo_url
            #logo
              = image_tag Library.logo_url
          .content
            .title= title
            .subtitle= Library.subtitle
            #navigation
              %ul
                %li= link_to "<span>home</span>", "/"
              %ul
                %li= link_to "<span>videos</span>", "/videos"
              - if current_user && current_user.has_role?( "admin" )
                %ul
                  %li= link_to "<span>Collection Administration</span>", "/library"
          .login_logout
            - if logged_in?
              .logout
                .button= link_to "LOGOUT", logout_path
              .user
                You're logged in as
                %span.login= h current_user.login
            - else
              .login
                .button= link_to "LOGIN", login_path
              .register
                .button= link_to "REGISTER", signup_path
        #content
          - [:notice, :error].each do |type|
            - unless flash[type].blank?
              %div{:class => "flash #{type} clearfix"}
                = flash[type]
          = yield