%html
  %head
    %title Open Video Digital Library Toolkit
    = stylesheet_link_tag :all
  %body
    #page
      #container
        #header
          %h1 Your Collection's Name
        #navigation
          %ul
            %li= link_to "<span>home</span>", "/"
          %ul
            %li= link_to "<span>videos</span>", "/videos"
        #content
          - [:notice, :error].each do |type|
            - unless flash[type].blank?
              %div{:class => "flash #{type} clearfix"}
                = flash[type]
          = yield