- title ||= Library.title
- my ||= Library.my
!!! XML
!!!
%html
  %head
    %title= title
    = stylesheet_link_tag :all, :cache => "cache/all"
    = javascript_include_tag :all, :cache => "cache/all"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" |
      if protect_against_forgery? |
  %body
    #page
      #container
        #header
          - if Library.logo_url
            #logo
              = image_tag Library.logo_url
          .content
            .title= title
            .subtitle= Library.subtitle
            #navigation
              %ul
                %li= link_to_unless VideosController === controller, |
                     "<span>Videos</span>", videos_path |
              %ul
                %li= link_to_unless CollectionsController === controller && |
                                    params[:action] == "collections", |
                     "<span>Collections</span>", collections_collections_path |
              %ul
                %li= link_to_unless CollectionsController === controller && |
                                    params[:action] == "playlists", |
                     "<span>Playlists</span>", playlists_collections_path |
              - if current_user
                %ul
                  %li= link_to_unless MyController === controller, |
                        "<span>#{my}</span>", my_path |
              - if current_user && current_user.has_role?( "admin" )
                %ul.tall
                  %li= link_to_unless LibraryController === controller, |
                       "<span>Collection<br />Administration</span>", "/library" |
          .login_logout
            - if logged_in?
              .logout
                .button= link_to "LOGOUT", logout_path
              .user
                You're logged in as
                %span.login= h current_user.login
            - else
              .login
                .button= link_to "LOGIN", login_path
              .register
                .button= link_to "REGISTER", signup_path
            .search
              - form_for Search.new, :url => videos_path, :html => { :method => :get } do |form|
                = form.criterion :text, :size => 40, :id => nil
                = image_submit_tag "mag.png"
        #content
          - [:notice, :error].each do |type|
            - unless flash[type].blank?
              %div{:class => "flash #{type} clearfix"}
                = flash[type]
          = begin; render :partial => "layouts/#{controller.controller_name}"; rescue ActionView::MissingTemplate; yield; end
          /= yield
