- title ||= Library.title
- my ||= Library.my
!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= title
    = stylesheet_link_tag :all, :cache => "cached"
    = javascript_include_tag :all, :cache => "cache/all"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" |
      if protect_against_forgery? |
    = javascript_tag "var relative_url_root = '#{ActionController::Base.relative_url_root}'"
  %body
    .wrapper
      .center
        .superheader
          %ul
            - if logged_in?
              %li
                = link_to "Logout", logout_path
              %li
                \|
            - else
              %li
                %span#login
                  Login
                  /= link_to "Login", login_path
              %li
                \|
            -#
              %li
                You're logged in as
                %span.login= h current_user.login
            - if !logged_in?
              %li
                = link_to "Register", signup_path
            - if current_user and current_user.has_role?( "admin" )
              %li
                = link_to "Administration", library_path
        /superheader end, div.header start
        .header
          .logo
            %h1
              = link_to title, url_for( :controller => :home, :action => :index )
            %h2
              = Library.subtitle

          .navigation
            %ul
              %li{:class => ( HomeController === controller ? "on" : "off")}
                .text= link_to "HOME", url_for( :controller => :home, :action => :index ) |
                .flag
              %li{:class => ( VideosController === controller ? "on" : "off")}
                .text= link_to "VIDEOS", videos_path
                .flag
              %li{:class => collections_flag }
                .text= link_to "COLLECTIONS", collections_collections_path
                .flag
              %li{:class => playlists_flag }
                .text= link_to "PLAYLISTS", playlists_collections_path |
                .flag
              - if current_user
                %li{:class => ( MyController === controller ? "on" : "off")}
                  .text= link_to h(my), my_path
                  .flag
            .search
              - form_for Search.new, |
                      :url => videos_path, |
                      :html => { :method => :get }, |
                      :builder => OvdltFormBuilder do |form| |
                = form.criterion :text, :size => 40, :id => nil, :class => 'input-text'
                = image_submit_tag "sch.gif", :class => 'btn'
        /header end
        .container
          = begin; render :partial => "layouts/#{controller.controller_name}"; rescue ActionView::MissingTemplate; yield; end
    .footer
      .center
        %ul
          %li
            = link_to "Home", url_for( :controller => :home, :action => :index )
          %li
            |
          %li
            = link_to "About", url_for( :controller => :home, :action => :about )
          %li
            |
          %li
            = link_to "Contact", url_for( :controller => :home, :action => :contact )
          %li
            |
          %li
            = link_to "News", url_for( :controller => :home, :action => :news )
          %li
            |
          %li
            = link_to "Privacy Policy &amp; Terms of Use", |
              url_for( :controller => :home, :action => :privacy ) |
        .copyright
          :textile
            #{@library.copyright}
        Powered by the
        = link_to "Open Video Toolkit", "http://www.open-video-toolkit.org/"
        /div.container end
      /div.center end
    /div.wrapper end
    .popup
      .login-box
        .padding
          .head
            LOGIN
          .close
            %a{ :href => "#" }
              %img{ :src => "images/close.gif", :alt => "close" }
          - form_tag sessions_path, :class => 'loginform' do
            %label
              Username
            %input.input{ :name => "login", :size => "40", :type => "text" }
            %label
              Password
            %input.input{ :name => "password", :size => "40", :type => "password" }
            %br
            %input.btn-login{ :name => "", :src => "images/btn-login.gif", :type => "image" }
            %a{ :href => "#" }
              Forgot your password?
      .overlay
